.section {
  background: linear-gradient(45deg, #eebd6c, #cb7c4f);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  width: 320px;
  height: 299px;
  background-color: white;
  border-radius: 5px;
  display: flex;
}

.perfil {
  width: 200px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}

.primary {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.img {
  width: 100%;
  cursor: pointer;
}

.img:hover .border1 {
  transform: rotateZ(360deg);
}

.img:hover .border2 {
  transform: rotateZ(-360deg);
}

.perfil img {
  border-radius: 50%;
  position: absolute;
  top: 40px;
  left: 65px;
  z-index: 20;
}

.border1 {
  width: 76px;
  height: 76px;
  border-width: 1px;
  border-style: solid;
  border-color: #786450 #786450 #786450 transparent;
  border-radius: 50%;
  position: absolute;
  top: 37px;
  left: 62px;
  transition: all 2s ease-in-out;
  z-index: 10;
}

.border2 {
  width: 82px;
  height: 82px;
  border-width: 1px;
  border-style: solid;
  border-color: #786450 transparent #786450 #786450;
  border-radius: 50%;
  position: absolute;
  top: 34px;
  left: 59px;
  transition: all 2s ease-in-out;
  z-index: 0;
}

.primary h3 {
  color: #786450;
  font-size: 16px;
  margin: 0;
}

.primary h4 {
  color: #786450;
  font-weight: 100;
  font-size: 12px;
  margin: 2.5px;
}

.buttons {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttons button {
  outline: none;
  width: 120px;
  height: 30px;
  background-color: white;
  border: 1px solid #786450;
  border-radius: 25px;
  margin: 5px;
  transition: all 0.5s;
  font-weight: 700;
  cursor: pointer;
}

.buttons button:hover {
  background-color: #786450;
  color: white;
}

.info {
  width: 120px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.data {
  width: 100%;
  height: 99px;
  background-color: #f5e8df;
  cursor: pointer;
  transition: background-color 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.data:hover {
  background-color: #e1cfc2;
}

.info .data:nth-child(1) {
  border-top-right-radius: 5px;
}

.info .data:nth-child(3) {
  border-bottom-right-radius: 5px;
}

.data h3 {
  margin: 0;
  color: #786451;
}

.data h4 {
  margin: 0;
  color: #786451;
  font-weight: 100;
}
